# ignore vim bundle/color downloads
mvim/vim
config/Battle.net/

# scripts ropreproject
scripts/.ropeproject/

# ignore fish stuff
fish/fishd.*
fish/fish_history
config/fisher

# ignore some configs
config/twitchy3/
config/filezilla/
config/qBittorrent
config/configstore/
config/htop/

# ignore atom stuff
atom/blob-store
atom/compiler-cache
atom/packages
atom/storage
atom/.apm
atom/github.cson

# ignore tmux logs
zsh/tmux-client*
zsh/tmux-server*


# ignore texmate
config/xm1/

# ignore emacs stuff
emacs.d/ac-comphist.dat

# ignore pintos binaries for OS course
bin/pintos_support

weechat/logs/*
bin/JDownloader 2.0/*
mvim/bundle/*
config/mps-youtube/input_history
config/rtv/*
config/nvim/*
zsh/cache/*
config/xbuild

nvim/.init.vim-rplugin~
nvim/.netrwhist
nvim/autoload/
nvim/bundle/
nvim/plugged/


mvim/.netrwhist


# ST3 ignores

Sublime\ Text\ 3/Packages/User/Package\ Control.cache
Sublime\ Text\ 3/Packages/User/Package\ Control.ca-list
Sublime\ Text\ 3/Packages/User/Package\ Control.ca-bundle
Sublime\ Text\ 3/Packages/User/Package\ Control.ca-certs
Sublime\ Text\ 3/Packages/User/Package\ Control.system-ca-bundle
Sublime\ Text\ 3/Packages/User/ColorPicker/lib/linux_colorpicker.py
Sublime\ Text\ 3/Packages/User/ColorPicker/lib/linux_colorpicker.py

# Ignore all ST3 workspace files which constantly change
Sublime\ Text\ 3/projects_workspaces/*.sublime-workspace

# linux ignores
config/mimeapps.list
config/user-dirs.dirs
config/user-dirs.locale

config/.isolated-storage/
emacs.d/auto-save-list/
emacs.d/elpa/
