"*":
  core:
    telemetryConsent: "no"
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "a712f91e-6cda-a635-06b8-60cad4a59786"
  latex:
    openResultAfterBuild: false
    openResultInBackground: false
    viewerPath: "/Applications/PDF\\ Expert.app"
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
