[
  {
    title: "Dotfiles"
    paths: [
      "/Users/daniel/dotfiles"
    ]
  }
  {
    title: "Project Euler"
    paths: [
      "/Users/daniel/dev/gitHub/projecteuler"
    ]
  }
  {
    title: "Embedded Systems"
    group: "University"
    paths: [
      "/Users/daniel/uni_repos/repo_embeddedSystems"
    ]
  }
  {
    title: "Cryptography"
    paths: [
      "/Users/daniel/uni_repos/repo_cryptography"
    ]
  }
  {
    title: "Web Security"
    group: "University"
    paths: [
      "/Users/daniel/uni_repos/repo_webSecurity"
    ]
  }
]
